<a class="btn btn-link" href="javascript:void(0);" ng-click="toggleBoard();" title="Pinned messages">
	<i class="fa fa-lg" ng-class="{'fa-bookmark': boardOpen, 'fa-bookmark-o': !boardOpen}"></i>
</a>

<div class="pin-board" ng-class="{'pin-board-active': boardOpen }" ng-switch="!!pinnedMessages.length">
	<span class="pin-board-close" ng-click="closeBoard();"><i class="fa fa-close" title="Close"></i></span>

	<div ng-switch-when="true" ng-repeat="pinnedMessage in pinnedMessages" class="pin-board-message">
		<div>
			<img class="pin-message-author" title="{{::pinnedMessage.message.author.nick}}" gravatar-src-once="pinnedMessage.message.author.email | lowercase" gravatar-size="20"/>
			<span bunker-message="::pinnedMessage.message"></span>
			<i title="Remove from pin board" class="fa fa-times pin-board-unpin" ng-if="userRole !== 'member'" ng-click="removePin(pinnedMessage)"></i>
		</div>
	</div>

	<div ng-switch-default>
		No pinned messages :(
	</div>
</div>
