<a href="javascript:void(0);" ng-click="boardOpen = !boardOpen" >
	<i class="fa fa-bookmark fa-lg"></i>
</a>

<div class="pin-board" ng-class="{'pin-board-active': boardOpen }">
	<div ng-repeat="message in pinnedMessages" class="pin-board-message">
		<img title="{{::message.author.nick}}" gravatar-src-once="message.author.email | lowercase" gravatar-size="20"/>
		<span bunker-message="::message"></span>
		<span><i title="Remove from pin board" class="fa fa-times pin-board-unpin"></i></span>
	</div>
</div>
