# Created by https://www.gitignore.io/api/xcode

### Xcode ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

# End of https://www.gitignore.io/api/xcode

assets/styles/*.css
config/local.js

node_modules
bower_components
assets/vendor

.tmp
dump.rdb
assets/bundled
views/index-prod.ejs
server/views/index-prod.ejs

lib-cov
*.seed
*.log
*.out
*.pid
npm-debug.log


*~
*#
#/assets/styles/default.css
.DS_STORE
.netbeans
nbproject
.idea
.node_history

Pods/
