// override bootstrap settings here

@import "../../node_modules/bootswatch/dist/cerulean/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootswatch/dist/cerulean/bootswatch";
@import "_global";

// override classes here