// override bootstrap settings here

@import "../../node_modules/bootswatch/dist/spacelab/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootswatch/dist/spacelab/bootswatch";

// override classes here