// override bootstrap settings here

@import "../../node_modules/bootswatch/dist/spacelab/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootswatch/dist/spacelab/bootswatch";
@import "_global";

// override classes here

.navbar {
  &.bg-dark {
    background-image: none;
  }

  .nav-item {
    border-radius: 2px;

    &.active {
      background-color: $success;
    }
  }
}
