<!DOCTYPE html>
<html ng-app="bunker">
<head>
	<title unread-messages>Bunker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="/assets/vendor/bootstrap/dist/css/bootstrap.css"/>
	<link rel="stylesheet" href="/assets/vendor/bootswatch/sandstone/bootstrap.css"/>
	<link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.css"/>
	<link rel="stylesheet" href="/assets/styles/bunker.css"/>

	<script src="/assets/vendor/lodash/dist/lodash.js"></script>
	<script src="/assets/vendor/moment/moment.js"></script>
	<script src="/assets/vendor/jquery/dist/jquery.js"></script>
	<script src="/assets/vendor/angular/angular.js"></script>
	<script src="/assets/vendor/angular-resource/angular-resource.js"></script>
	<script src="/assets/vendor/angular-sanitize/angular-sanitize.js"></script>
	<script src="/assets/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="/assets/vendor/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="/assets/vendor/angular-gravatar/build/md5.js"></script>
	<script src="/assets/vendor/angular-gravatar/build/angular-gravatar.js"></script>
	<script src="/assets/vendor/angular-moment/angular-moment.js"></script>
	<script src="/assets/vendor/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/assets/vendor/sails.io.js/dist/sails.io.js"></script>
	<script src="/assets/vendor/angular-resource-sails/src/sailsResource.js"></script>
	<script src="/assets/app/bunker.js"></script>
	<script src="/assets/app/bunker-directives.js"></script>
	<script src="/assets/app/shared/directives/bunkerMessage.js"></script>
	<script src="/assets/app/bunkerApi.js"></script>
	<script src="/assets/app/emoticons.js"></script>
	<script src="/assets/app/header/HeaderController.js"></script>
	<script src="/assets/app/header/emoticonMenu.js"></script>
	<script src="/assets/app/lobby/LobbyController.js"></script>
	<script src="/assets/app/room/RoomController.js"></script>
	<script src="/assets/app/room/MessageLogController.js"></script>
	<script src="/assets/app/room/RoomHistoryController.js"></script>
	<script src="/assets/app/room/InputController.js"></script>
	<script src="/assets/app/room/rooms.js"></script>
	<script src="/assets/app/shared/uuid.js"></script>
	<script src="/assets/app/shared/user.js"></script>
	<script src="/assets/app/shared/status.js"></script>
</head>
<body>

<div ng-include="'/assets/app/header/header.html'"></div>
<div ui-view></div>

</body>
</html>
