<!DOCTYPE html>
<html ng-app="bunker">
<head>
	<title>Bunker</title>
	<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css"/>
	<link rel="stylesheet" href="/styles/bunker.css"/>

	<script src="/vendor/lodash/dist/lodash.js"></script>
	<script src="/vendor/jquery/dist/jquery.js"></script>
	<script src="/vendor/angular/angular.js"></script>
	<script src="/vendor/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="/vendor/angular-gravatar/build/md5.js"></script>
	<script src="/vendor/angular-gravatar/build/angular-gravatar.js"></script>
	<script src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/vendor/sails.io.js/dist/sails.io.js"></script>
	<script src="/vendor/angular-resource-sails/src/sailsResource.js"></script>
	<script src="/app/bunker.js"></script>
	<script src="/app/bunker-directives.js"></script>
	<script src="/app/bunkerApi.js"></script>
	<script src="/app/shared/emoticons.js"></script>
	<script src="/app/user.js"></script>
	<script src="/app/header/HeaderController.js"></script>
	<script src="/app/lobby/LobbyController.js"></script>
	<script src="/app/room/RoomController.js"></script>
	<script src="/app/room/MessageLogController.js"></script>
	<script src="/app/room/InputController.js"></script>
</head>
<body>

<div ng-include="'/app/header/header.html'"></div>
<div ui-view></div>

</body>
</html>