<!DOCTYPE html>
<html>
<head>
	<title>Bunker Login</title>
	<link rel="stylesheet" href="/assets/vendor/bootstrap/dist/css/bootstrap.css"/>
	<link rel="stylesheet" href="/assets/vendor/bootswatch/sandstone/bootstrap.css"/>
	<link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.css"/>
	<link rel="stylesheet" href="/assets/styles/default.css"/>
</head>
<body>
<div class="container">
	<h1>Bunker</h1>

	<div class="well">
		<h3>Login with:</h3>
		<p>
			<a href="/auth/google" class="btn btn-info btn-lg">
				<i class="fa fa-google"></i> Google
			</a>
		</p>
	</div>

</div>
</body>
</html>
