<!DOCTYPE html>
<html>
<head>
	<title>Bunker Login</title>
	<link rel="stylesheet" href="/assets/vendor/bootstrap/dist/css/bootstrap.css"/>
	<link rel="stylesheet" href="/assets/vendor/bootswatch/sandstone/bootstrap.css"/>
	<link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.css"/>
	<link rel="stylesheet" href="/assets/styles/default.css"/>
</head>
<body>
<div class="container">
	<h1>Bunker</h1>

	<div class="well">
		<h3>Login with:</h3>
			<span class="g-signin"
						data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email"
						data-clientid="<%= clientID %>"
						data-redirecturi="postmessage"
						data-accesstype="offline"
						data-cookiepolicy="single_host_origin"
						data-callback="signInCallback">
			</span>
	</div>

</div>

<script type="text/javascript">
	function signInCallback(authResult) {
		if (authResult.code) {
			$.post('/auth/googleCallback', { code: authResult.code})
					.done(function(data) {
						window.location = '/'
					});
		} else if (authResult.error) {
			console.log('There was an error: ' + authResult.error);
		}
	}
</script>

<script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="//apis.google.com/js/client:plusone.js"></script>
</body>
</html>
