<!doctype html>
<html>
<head>
	<script src="/node_modules/angular2/bundles/angular2-polyfills.js"></script>
	<script src="/node_modules/rxjs/bundles/Rx.umd.js"></script>
	<script src="/node_modules/angular2/bundles/angular2-all.umd.js"></script>
	<script src="/node_modules/lodash/index.js"></script>
	<script src="/node_modules/bluebird/js/browser/bluebird.js"></script>
	<script src="/node_modules/socket.io-client/socket.io.js"></script>
</head>
<body>

<chat>Loading Bunker...</chat>

<!-- bunker scripts -->
<script src="/assets/app2/boot.js"></script>
<script src="/assets/app2/BunkerData.js"></script>
<script src="/assets/app2/lobby/LobbyComponent.js"></script>
<script src="/assets/app2/chat/ChatComponent.js"></script>

<!-- end bunker scripts -->

</body>
</html>
