<!DOCTYPE html>
<html>
<head>
	<title>Bunker Login</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
	<link rel="manifest" href="/assets/manifest.json">
	<link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/assets/favicon.ico">
	<meta name="msapplication-config" content="/assets/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<style>
		body {
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: 14px;
			line-height: 1.42857143;
			color: #333;
			background-color: #fff;
		}

		.container {
			padding: 0px 24px;
		}

		h1.header {
			border-bottom: 1px solid #ddd;
			padding-bottom: 8px;
		}
		.google-button {
			display: block;
			width: 191px;
			height: 46px;
			background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='191px' height='46px' viewBox='0 0 191 46' enable-background='new 0 0 191 46' xml:space='preserve'%3E%3Cimage id='image0' width='191' height='46' x='0' y='0' href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAL8AAAAuCAYAAAB50MjgAAAABGdBTUEAALGPC/xhBQAAACBjSFJN%0AAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QA/wD/AP+gvaeTAAAN%0A80lEQVR42u2df1CU953HXzzLkwX5obCKPC6iZFEIT6gNgaAWUlyNpbR6VWccvRlP57jLpVfnrBkn%0ANlebxvHaRO9Ox6u9pma8sePlvGNOEleHGups7KxtJeo6Fh+UhI2BExYIP0QXluVhl/tjV9hVVFxZ%0AacrzmsHxeb5fvz8+z/v7eT7f7/P9ImhoaGhoTC6iRrmOGuW+hsaXnaGgHyBU5FEtLS3fSUlJ+blO%0Ap5MmuqUaGuOJ1+t1tre3b541a9b7BAZAsPijVVX9v+jo6NSJbqiGRiQYHBxsFUVxNjAIoeKPGRoa%0Ack90AzU0IklUVFQs0A8gBN+f6IZpaDwBhnUuPE4pGhpfZjTxa0xaNPFrTFo08WtMWjTxa0xaNPFr%0ATFo08WtMWqLHszC1vo7+E5UMXm/A23KDIXUAnWEGYu5X0Ze8xFP5Cye6vxoawwR/2IodGhrqC6cQ%0Ab1srt/fsRL188YH5op9dQOL2N9FJxonut8YkJSoqagrghnEIe9S6Wrq/t+mhwgcYvHKZ2/vemuj+%0Aa2gAjyl+b0c7Pf/4fYZudoXc16Wlo//6Mp4qNiPMShu+Hz0vm8Qf/fSJdU51dXK9vo66ujoamlpx%0A+0bSPJ3XOXvmHM0uX/gV3A+fi7pzZ7nU0BnxPrY3XODshXrutylLbb/Evtde49iF1kcr2HOLpoDt%0A6hua6PZEwE4PQm3l2Guvse9ELZ4IVfFYMf/tPW8y5Lo9fC3MSCH+H7ajX1Qcks9j+4j+UxYSfrAT%0AISEx4nYDaL10gr1HbXfdlSl//S/JShLpqP0AS5UTidlsLRnfMEztvsbhSgswSPaeEmIj1ks3dQcr%0AqAKMuXvI0Ks0XbrIZ71x5C3OJVEAn8+DE0ju9465VFfTBd49UIHzrvvLN21jWU5KxHoTihcX4Gzp%0AJVLDLmzxD3WfRUytRNWlgVdAMExn2r/+Et2se4WkL16CvnjJEzIa+LrrAsI3sXLTt5ElHTcunuFI%0AtZ1Dh2vYubWIlPz1bJjaxazs8T+6IBpkNm/awEDynAgKHyCWvC3lGFzxzNL777R8XEmVw8S8Qr/4%0Ah4nWja1I93XeCwi/cOUmSuSZdDvOc7DCSvXhX/PMro0Y9RHt1DB6gJjILUmGLX5f63+iX9CFLtVN%0Ab2UGceXfG1X4E4HXF3hRys+zOMeIACQte4niWjs2ZxtdHkj44gaf1DeiM5owxOoBN3Vnqviwqgan%0AlIc5N46bzV1My/smpdlw+tiv6YgzkTXDxZlKK0gmcpd9G3Ou8d6Ho97ms6sKt2c+xZzUROis49jJ%0A88QZs0hw11NlU5BMxZStWkZWyl3Dw93MqYqT9JqWsqooE8HXzdmKCtrSlrOqKAPB18mZiv+lcdpi%0A1pXO58ann6B0JjAzXeSPx9+n1gHgoOI//ptlq1YxP1BsV/MVzpz40F+3XMyKlaVkJon32K79mh0H%0AIJnLWVOUBYAhv5Tyjqscsip82ubGmB4LqDTV/o6Pfn8JxeHElGdm6UtLyDSMjAx3ax2/PWPjqt0B%0AkkzBN77B4pzUYXt1Npzj5Ik/oDihsGwRhtuf0yjKrCvNZbTx5W6v57fWM1x1OmBKHsVLXyI/0xC2%0ATsL3/D0f+wuY6Sbhb9sQl5bek+cty4OjtaL5Ooqzx3W1FQBRn4AEOJUKKk7rML+QTUqigRVb97Ai%0AkKe5WaHGrjCzuAzw0XDqHQ5bnYCEnOzEWu1/6ZtMy/z57QoKCnZAliUUxYHzyH5mvv42uUl3y1+l%0AscaOYkpjWVEWQv8t7IoCigKSjCyB4rBx6L0kdm4tCn076GNQFQc1yhzMRZlM7XBgsTvAbqekKAND%0ATwtVdgcUFyMCtxpt2BWZxaU5DHoYDlWcfR7/iY071zXVOCUTJgkcio2DXQns2FrC3UFof68LgILc%0A9JD7WaVb2RP0iJvPHeNApd1vL9mEYrfisFvZsP0n5BpE1M5afrz3iN+GskyfomA5rOBYvYWNC424%0Am8+y+6BlOL2mqtJfsGnuqGGOr7uOd/7lME5AMplwOuxUOOy4Nr9BSXp8WDoJX3n9TcN/FQxZROnu%0Afa2evjL4wCLi9URE/MRn8lflZew+VIW9+ij2akDKY3WZmReyUhAAXXSQb1HbuWB1Anl8d8daMhKF%0A4TlDTCCLP7fMyzs2kJko0HBqHwetTnr6PJB0b3Djf2VH+73cHdPkrWXnunxi6eTUvt1YnQ6+8BSR%0AHuzmhCTmF0vYbFfpdJeiftYQSKjheucq9N3NAJifSUMIeoC66BRKN/4103/1QyoUmS2bN2IUwdN6%0Av7obuemBxBAX68Pt6g/ph7v9Og1tLnQ6HV6vl+Q52Rhj2zldaQ+xR+ulY+w9WsORM5/y9pp5XPmN%0AX/jmTdspzTHgu9XAkX86iFJpo/X5NThtfuEXb9jGitwUfJ117N99GOeoYY6Pa2c/xAksL9/BsqxE%0AfJ2X+MHuo1R9dI1FG/MJJxKLgPLGzsDg45dxPwxZJezZtYD62stculiF3WGn8pCd+pWb2VgU6tV8%0A7h6/x5QzSQsEygbjKHMBWWZOID02Zsojt0memxbw8vFMTwacI+NiBAFpfi7YqrnR3ExMvX04peF6%0AI9NcjYCJzNREuGcdxDfs7b2+cOr20nfTAUC0zt/PrroPOFI1MvUt27wTydtFF0BxAU8H7JH67EJk%0AalA6buHBh9cDIJM7zx+WCImzyTKB4ujB5RlJz8tOCaQn+9/Wo1pO5VaXP6X2XBU9l0TwBJxv/2DY%0AE+LwxR8zG3oVf/1914n1edEJoeZMSw49HKZ6oa1n+PA80+Iic3jM3dlMc/cAScYMsvJLyMovoazp%0AAocOVKBYfk9zYTqjTv+CDOnzjTYyR9J1MVMfvWGDY1txSTTOxQRUHawAwFy+BeMn+zlS8QFOnCCV%0AkXqfN/19H+iY6haR5spgV7jZ1QepelIWvcIbhdBaU8HBKoVoHaie3lFEqgvxvjo9QJffwYVMLfoY%0AUH0j6cPKHeNqVL8HFQ8eJAoLJdS4uLAnxOFPeBPyEXoVPhlM5PWuHF5utPGtjJKQPL96JdQ7fnBB%0A5WfVA8PX6YbIzOO7rp7koMWBtPy7bF2WAUCiJAU8iwevL9TrCbHxJAPOvpu4fKAXwONyRaRtYyI+%0AlSwTOBz+OUhmupFUzGCz4gTkgqd5WJT7lDiGekZhynQjoGA9fJav7lpBqj4WEYgNUoreMBsZUBqa%0A6CGHJMDd3oAdYKqeaAh4diedPR4yYvXgc3GzDyCZ+CkCfYH0tg43GcZYGByg5wHtulN9wTfXUpTu%0Af4e5WpshxRhWyBNc5iPjm7meqs+t/LPrKwyg48Af32PBjGdIi585av6eviGOnVeHr6OAF0xjXH57%0ARCS5GMniwFn9C/Z1mClIi+HG+Sr/wzGZmKEn1NBiCl/JA8VuZfe7KitlEYvFGtRZRvnQMoZPL/3g%0A48FLdaP7u3ielmVwKGAqIDUW4o2ZmLDiAEwZM4ZzDt5Vjv9a4cP3T/E181JmP2LdiZlfY61cTYVi%0AY++PWli+UoZuB9U2JZBDADGFgmJQbFbe+qXKajmWP1iqAVi5OBsRPdkvloFSRcXef+fm6gJ6Lluo%0AcYJkXkiaXs+0hWZQrFTuf4ebKwvoPW/BEbDZvTYcKc9y4Md0l60mqf9zLFY75G3g7XW5YXn/sF1v%0AzHQzp+M2MRDwoR393bxifQNby4V78tZ3X+f7//M5Ld0jIc/SZ3VMnRKZsEdIyuHvt7+MWZZw2q1Y%0ALFXYnSAXrmTbptDVFf/oF3luzeusLpTAYcNisRIS8Ysx3D2kxbjkoH9/H6YGJrx3cgVn1vv/uN/w%0An5nhX2bMW5Dp9/LxRhbIAHlkBC2PRoeUoydr4XIAlBorN/oGw6g7lvwNO1i/vBBwUG2x+IUvyZRt%0A2EKhUQ+I5HzrDdabZXDYqLRU40SibNOrw145PqOEbZvKkHBSXWmhxgGyeT3ly7MQgMSs5WxeWww4%0AsVos1NyxeAyhMXzAhvEZJWwvX4kJsFVVYrHakfLKePUv5LBF/Fgb29r7Oll36lVuq70h99PjJeYn%0AZaCLEmi83cK17s+I8sUQ0/YyYt/zxOnh3b+JZebUyO+o9qkqqs8HgohevH99amcDV9riyZmXgih6%0AaTz7X/zColC4fhtrnntSXzXHCdWDxyeg14cZ+4wYD4/qA0FAL4r3yaLiBXSiOLoIfSoezyBE60Pt%0A77tFrf0GafI8pup19DntvLu/AqdpNbv+buEDQhkVjwcEQYcoPrp+gje2PdZqT8oUA/tf/CHbzu6m%0AyzMSSDS5nDS5QqdEQ0I/bunfSPR8h50vrn8iwgcQRHEMMaHKlZMHOaqAJOch9duxOwBkCp7Y5/xx%0ARNSHHQeHIIjo9Q/LIj7Y8woi+th7B0638huOVNQAJvLywO43OMuX5jyk7Q9v01gZly3Nrb1f8ObH%0AB7jYrjww39wEI7sWbSE76enxaf144umm9nwNduUqXX1TkDJlipcsxhivnfeJDCqtdRf53fnLNHX1%0AMSU5kxdeLOK5jKSI1hrs+cdF/Heo62rgWEM1DT1N3HC14vEOYIiZxrOG+ZjTClmSVogQpYlJY+KI%0AmPg1NP7UGdfDLBoaX1Y08WtMWjTxa0xaNPFrTFo08WtMWjTxa0xaNPFrTFo08WtMWoLFP9Tf3//F%0ARDdIQyNSBPQ9vLU4WPy+48eP/9TtdndMdCM1NMYbt9vdcfz48Z8QtGM6eHuDABgAI/4d39p/UKfx%0A58IQ/tNHzUAngQFwt8AF/Cf8NOFr/LkxhP/w2hP+vYsaGn+C/D9L1xQ4yEtbGgAAACV0RVh0ZGF0%0AZTpjcmVhdGUAMjAxOC0xMi0yMVQwODo1NTo1MC0wNzowMGauJIUAAAAldEVYdGRhdGU6bW9kaWZ5%0AADIwMTgtMTItMjFUMDg6NTU6NTAtMDc6MDAX85w5AAAAAElFTkSuQmCC' /%3E%3C/svg%3E%0A");
		}

		.google-button:active {
			opacity: 0.8;
		}

	</style>
</head>
<body>
<div class="container">
	<h1 class="header">Bunker</h1>
	<div class="well">
		<a class="google-button" tabindex="0" href="/login/google?directTo=<%= directTo %>"></a>
	</div>
</div>

</body>
</html>
