<!DOCTYPE html>
<html>
<head>
	<title>Bunker Login</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
	<link rel="manifest" href="/assets/manifest.json">
	<link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/assets/favicon.ico">
	<meta name="msapplication-config" content="/assets/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="container">
	<h1>Bunker</h1>

	<div class="well">
		<h3>Login with:</h3>
			<span class="g-signin"
						data-scope="profile email"
						data-clientid="<%= clientID %>"
						data-redirecturi="postmessage"
						data-accesstype="offline"
						data-cookiepolicy="single_host_origin"
						data-callback="signInCallback">
			</span>
	</div>

</div>

<noscript id="deferred-styles">
	<link rel="stylesheet" href="/assets/vendor/bootstrap/dist/css/bootstrap.css"/>
	<link rel="stylesheet" href="/assets/vendor/bootswatch/sandstone/bootstrap.css"/>
	<link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.css"/>
	<link rel="stylesheet" href="/assets/styles/default.css"/>
</noscript>
<script>
	// Inline CSS for max perf
	// https://developers.google.com/speed/docs/insights/OptimizeCSSDelivery
	var loadDeferredStyles = function () {
		var addStylesNode = document.getElementById("deferred-styles");
		var replacement = document.createElement("div");
		replacement.innerHTML = addStylesNode.textContent;
		document.body.appendChild(replacement)
		addStylesNode.parentElement.removeChild(addStylesNode);
	};
	var raf = requestAnimationFrame || mozRequestAnimationFrame ||
			webkitRequestAnimationFrame || msRequestAnimationFrame;
	if (raf) raf(function () {
		window.setTimeout(loadDeferredStyles, 0);
	});
	else window.addEventListener('load', loadDeferredStyles);
</script>

<script type="text/javascript">
	function signInCallback(authResult) {
		if (authResult.code) {
			$.ajax({
				type: 'POST',
				url: '/auth/googleCallback',
				contentType: 'application/json',
				data: JSON.stringify({ code: authResult.code })
			})
					.done(function () {
						var match = /\?directTo=(.+)/.exec(window.location.search);
						if (match) {
							window.location = match[1];
						}
						else {
							window.location = '/' + window.location.hash;
						}
					});
		} else if (authResult.error) {
			console.log('There was an error: ' + authResult.error);
		}
	}
</script>

<script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="//apis.google.com/js/client:plusone.js"></script>
</body>
</html>
