<!DOCTYPE html>
<html>
<head>
	<title>Bunker Login</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
	<link rel="manifest" href="/assets/manifest.json">
	<link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/assets/favicon.ico">
	<meta name="msapplication-config" content="/assets/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="container">
	<h1>Bunker</h1>
	<div class="well">
		<a href="javascript:doLogin();">Log In with Google</a>
	</div>
</div>

<script>
	function doLogin() {
		let redirectString = "?redirectTo=";
		if (window.location.href.indexOf(redirectString) != -1) {
			redirectString += encodeURIComponent(window.location.href.slice(window.location.href.indexOf(redirectString) + redirectString.length));
		}

		window.location = "/login/google/" + redirectString;
	}
</script>
</body>
</html>
