<!DOCTYPE html>
<html>
<head>
	<title>Bunker Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
	<link rel="manifest" href="/assets/manifest.json">
	<link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/assets/favicon.ico">
	<meta name="msapplication-config" content="/assets/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<style>
		body {
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: 14px;
			line-height: 1.42857143;
			color: #333;
			background-color: #fff;
		}

		.container {
			padding: 0px 24px;
		}

		h1.header {
			border-bottom: 1px solid #ddd;
			padding-bottom: 8px;
		}
		.google-button {
			display: block;
			width: 191px;
			height: 46px;
			background-image: url("/assets/images/google-login.png");
		}

		.google-button:active {
			opacity: 0.8;
		}

	</style>
</head>
<body>
<div class="container">
	<h1 class="header">Bunker</h1>
	<div class="well">
		<a class="google-button" tabindex="0" onclick="login()"></a>
	</div>
</div>


<script type="text/javascript">
	function login(){
		window.open('/login/google')
	}

	// being called from another window don't remove
	function loginSuccess() {
		var match = /\?directTo=(.+)/.exec(window.location.search);
		if (match) {
			window.location = match[1];
		}
		else {
			window.location = '/' + window.location.hash;
		}
	}

</script>

</body>
</html>
