<!DOCTYPE html>
<html ng-app="bunkerMobile">
<head>
	<title>Bunker</title>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi" />

	<link rel="stylesheet" href="/assets/vendor/bootswatch/sandstone/bootstrap.min.css"/>
	<link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/assets/styles/mobile.css"/>
</head>
<body>

<div ui-view>
	Loading...
</div>

<script src="/assets/vendor/lodash/lodash.min.js"></script>
<script src="/assets/vendor/moment/min/moment.min.js"></script>
<script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/node_modules/angular/angular.js"></script>
<script src="/assets/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/assets/vendor/angular-gravatar/build/angular-gravatar.min.js"></script>
<script src="/assets/vendor/angular-notification/angular-notification.min.js"></script>

<script src="/assets/vendor/socket.io-client/socket.io.js"></script>

<script src="/assets/app/mobile/bunkerMobile.js"></script>
<script src="/assets/app/bunkerData.js"></script>
<script src="/assets/app/bunkerListener.js"></script>
<script src="/assets/app/bunkerConstants.js"></script>
<script src="/assets/app/emoticons.js"></script>
<script src="/assets/app/messages/notifications.js"></script>
<script src="/assets/app/messages/bunkerMessage.js"></script>
<script src="/assets/app/mobile/room/room-scroll.js"></script>
<script src="/assets/app/mobile/lobby/LobbyController.js"></script>
<script src="/assets/app/mobile/lobby/lobbyHeader.js"></script>
<script src="/assets/app/mobile/room/RoomController.js"></script>
<script src="/assets/app/mobile/room/roomHeader.js"></script>
<script src="/assets/app/mobile/room/inputBox.js"></script>

</body>
</html>
