<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/node_modules/bootswatch/dist/<%= theme || 'cerulean' %>/bootstrap.min.css"/>
</head>
<body>
<section id="index"></section>
<script>
	window.url = '<%= config.url %>';
</script>
<script src="/dist/main.js"></script>
</body>
</html>
