<div class="container-fluid" ng-show="current.$resolved && !$stateParams.date">
	<div class="row">

		<div class="col-md-10 col-xs-12 no-gutter">
			<div class="topic" ng-show="current.topic">
				<span bunker-message="current" media="false"></span>
			</div>

			<!-- message log -->
			<div>

				<ol class="list-unstyled message-list"
						fill
						message-log-scroll="{{current.$messages[current.$messages.length - 1].id}}"
						on-scroll-top="loadPreviousMessages()">
					<li class="message-container" ng-switch="::!!message.author" ng-repeat="message in current.$messages"
							id="{{::message.id}}">
						<div class="message" ng-class="::{ local: message.author.id == userService.current.id }">

							<!-- standard message -->
							<div ng-switch-when="true"
									 message-mention="{{::userService.current.nick}}"
									 message-mention-text="{{::message.text}}">
								<div class="message-author">
								<span ng-if="::message.$firstInSeries">
									<img gravatar-src-once="::message.author.email | lowercase" gravatar-size="20"/>
									<div class="name">{{::message.author.nick}}</div>
									<span status="memberLookup[message.author.id].user"></span>
								</span>
								</div>
								<div class="message-caret" ng-if="::message.$firstInSeries"></div>
								<div class="message-body"
										 ng-class="::{ 'new-message-body': message.$firstInSeries, 'edited': message.edited }">
									<span bunker-message="message"></span>
								<span class="message-info text-muted">
									<i class="fa fa-pencil" ng-if="message.edited"></i>
									<span ng-if="::message.$firstInSeries">
										<a ui-sref="roomHistory({roomId: current.id, date: message.createdAt, message: message.id})"
											 class="text-muted">
											<small am-time-ago="message.createdAt" title="{{::message.createdAt | date:'medium'}}"></small>
										</a>
									</span>
								</span>
								</div>
							</div>
						</div>

						<!-- system message -->
						<div class="new-message-body" ng-switch-default>
							<div class="alert alert-message text-muted">
								<span bunker-message="message"></span>
							</div>
						<span class="message-info text-muted">
							<small am-time-ago="message.createdAt" title="{{::message.createdAt | date:'medium'}}">
							</small>
						</span>
						</div>
					</li>
				</ol>
			</div>
		</div>

		<!-- right pane -->
		<div class="col-md-2 hidden-sm hidden-xs no-gutter member-list">

			<!-- member list -->
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="member in memberLookup | membersOrderBy"
						ng-if="member.user.connected">
					<span ng-switch="member.user.typingIn == roomId" class="user-icon">
						<span ng-switch-when="true">
							<i class="fa fa-ellipsis-h"></i>
						</span>
						<span ng-switch-when="false">
							<img gravatar-src-once="member.user.email | lowercase" gravatar-size="20"/>
						</span>
					</span>

					<a ng-click="mentionUser(member.user.nick)">{{member.user.nick}}</a>

					<div class="pull-right">
						<span ng-show="member.role != 'member'" ng-switch="member.role" title="{{member.role}}">
							<i class="fa fa-gavel" ng-switch-when="administrator"></i>
							<i class="fa fa-comments" ng-switch-when="moderator"></i>
						</span>
						<span status="member.user"></span>
					</div>
				</li>
			</ul>

			<div class="room-options">
				<a ui-sref="roomHistory({roomId: roomId, date: now()})" ng-hide="$stateParams.date"
					 class="btn btn-link">
					History
				</a>
			</div>
		</div>
	</div>

</div>
