<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-xs-12 no-gutter">
			<h2 ng-if="!room.ready">Loading...</h2>
			<h2 ng-if="room.ready && room.rawMessages.length == 0">No messages</h2>

			<ol class="list-unstyled message-list" fill>
				<li class="message-container" id="{{::message.id}}" ng-switch="::!!message.author"
						ng-repeat="message in room.messages">
					<div class="message" ng-class="::{ local: message.author.id == user.id, 'message-mention': message.$mentionsUser }">

						<!-- standard message -->
						<div ng-switch-when="true">
							<div class="message-author">
								<span ng-if="::message.$firstInSeries">
									<img gravatar-src-once="::message.author.email | lowercase" gravatar-size="20"/>
									<div class="name">{{::message.author.nick}}</div>
								</span>
							</div>
							<div class="message-caret" ng-if="::message.$firstInSeries"></div>
							<div class="message-body"
									 ng-class="::{ 'new-message-body': message.$firstInSeries, 'edited': message.edited }">
								<span bunker-message="message"></span>
								<span class="message-info text-muted">
									<i class="fa fa-pencil" ng-if="message.edited"></i>
									<span ng-if="::message.$firstInSeries">
										<a ui-sref="roomHistory({roomId: room.current.id, date: message.createdAt, message: message.id})"
											 class="text-muted">
											<small>{{::message.createdAt | date:'h:mm:ss a'}}</small>
										</a>
									</span>
								</span>
							</div>
						</div>

						<!-- system message -->
						<div ng-switch-default>
							<div class="new-message-body">
								<div class="system-message">
									<span bunker-message="message"></span>
								</div>
								<span class="message-info text-muted">
									<small>
										{{::message.createdAt | date:'h:mm:ss a'}}
									</small>
								</span>
							</div>
						</div>

					</div>
				</li>
			</ol>
		</div>

		<div class="col-md-2 hidden-sm hidden-xs no-gutter member-list">
			<ul class="list-group">
				<li class="list-group-item"
						ng-repeat="user in room.members | orderBy:'nick'">
					<img gravatar-src-once="user.email | lowercase" gravatar-size="20"/>
					{{::user.nick}}
				</li>
			</ul>

			<div class="room-options">
				<p class="input-group date-picker-above">
					<input class="form-control" ng-model="room.date"
								 datepicker-popup="{{::room.format}}" is-open="room.calendarOpened"
								 close-text="Close"/>
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary" ng-click="room.openCalendar($event)">
							<i class="fa fa-calendar"></i></button>
					</span>
				</p>

				<a ui-sref="chat.room({roomId: room.roomId})" class="btn btn-link">
					Leave History
				</a>
			</div>
		</div>
	</div>
</div>
