<div class="container-fluid">

	<div class="row">
		<div class="col-md-9">
			<h3>Known rooms</h3>
		</div>
		<div class="col-md-3">
			<form ng-submit="lobby.joinRoom(roomGuid)">

				<div class="input-group">
					<input type="text" class="form-control" placeholder="Existing room guid"
								 ng-model="roomGuid" ng-required="true"/>

					<span class="input-group-btn">
							<button class="btn btn-success">Join</button>
					</span>
				</div>

			</form>
		</div>

	</div>


	<table class="table">
		<thead>
		<tr>
			<th>Name</th>
			<th>Topic</th>
			<th><i class="fa fa-user"></i> Online</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="room in lobby.rooms | orderBy:'name'">
			<td>
				<a ui-sref="room({roomId: room.id})">{{room.name}}</a>
			</td>
			<td>{{room.topic}}</td>
			<td>{{room.$onlineMemberCount}} / {{room.$memberCount}}</td>
		</tr>
		</tbody>
	</table>

	<form class="col-md-3" ng-submit="lobby.createRoom(newRoomName)">

		<div class="input-group">
			<input type="text" class="form-control" placeholder="New room name"
						 ng-model="newRoomName" ng-required="true"/>

			<span class="input-group-btn">
					<button class="btn btn-success">Create</button>
			</span>
		</div>

	</form>

</div>
