<div class="container-fluid lobby" ng-show="!$root.roomId">

	<div ng-show="lobby.rooms.length > 0">
		<div class="page-header">
			<h3>Your Rooms</h3>
		</div>

		<ul class="list-group">
			<li class="list-group-item"
				ui-sref="chat.room({roomId: room._id})"
				ng-if="room.$resolved"
				ng-repeat="room in lobby.rooms | orderBy:'$lastMessage.createdAt':true track by room._id">
				<h4 class="list-group-item-heading">
					{{room.name}}
					<small class="hidden-xs" ng-bind-html="room.topic"></small>
				</h4>
				<span class="lobby-room-users">
					{{room.$members | connectedUsersCount}} <i class="fa fa-user"></i>
				</span>

				<p ng-if="room.$lastMessage">
					<span am-time-ago="room.$lastMessage.createdAt"></span>
					<img gravatar-src="room.$lastMessage.author.email | lowercase" gravatar-size="30"/>
					{{room.$lastMessage.author.nick}}: {{room.$lastMessage.text}}
				</p>

			</li>
		</ul>

	</div>
	<div ng-show="lobby.rooms.length == 0">
		<div class="page-header">
			<h3>No Rooms Found</h3>
		</div>
		Why don't you create one or ask your buddy to join his awesomesauce room?
	</div>

	<form class="col-md-3" ng-submit="lobby.createRoom(newRoomName)">

		<div class="input-group">
			<input type="text" class="form-control" placeholder="Or create a new room"
				   ng-model="newRoomName" ng-required="true"/>

			<span class="input-group-btn">
					<button class="btn btn-success">Create</button>
			</span>
		</div>

	</form>

</div>
