body {
    padding-top: 50px;
}
.no-gutter {
    padding-left: 0;
}
[fill], .fill {
    overflow: hidden;
}
.message-list {
    overflow-y: auto;
}
.message {
    height: 25px;
}
.message-author {
    height: 100%;
}
.message-author img {
    margin-left: 5px;
}
.message-input {
    position: fixed;
    bottom: 0;
}
.emoticon {
    max-height: 100%;
}