$darkBackgroundColor: #45494D;
$lightBackgroundColor: #Fcfcfc;
$successColor: #93c54b;
$navbarSuccessColor: #79a736;

@font-face {
	font-family: 'Roboto';
	src: url('/assets/fonts/Roboto-Regular.ttf');
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('/assets/fonts/Roboto-Bold.ttf');
}


/* boostrap overrides */

body {
	padding-top: 40px;
	font-family: 'Roboto';
}

a, a:hover {
	color: $successColor;
}

a, [ng-click], .pointer, [ui-sref] {
	cursor: pointer;
}

.alert a, .alert .alert-link {
	color: #93c54b;
	text-decoration: none;
}

// ng-sortable overrides
.as-sortable-item-handle {
	cursor: pointer;
}

pre {
	color: #3e3f3a;
}

.splash-brand {
	font-size: 150px;
	text-shadow: 12px 12px 3px $successColor, 24px 24px 6px #000;
	text-transform: uppercase;
	text-align: center;
}

.btn {
	font-family: 'Roboto-Bold';
}

.btn-success {
	background-color: $successColor;
	&:hover, &:focus {
		background-color: $successColor;
	}
}

// navbar

nav,
.navbar {
	min-height: 40px;
	height: 40px;
	margin-bottom: 0;
}

.navbar-default {
	background-color: $darkBackgroundColor;
	border-bottom: 0;

	.navbar-brand {
		height: 40px;
		padding: 10px 20px;
		font-size: 24px;
		font-weight: bold;
		text-align: center;
		text-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
		color: white;

		&:hover, &:active, &:focus {
			color: white;
		}
	}
}

.navbar-default .navbar-nav > li > a,
.navbar-nav > li > a {
	padding: 6px 12px;
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5)
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: $navbarSuccessColor;
	font-family: 'Roboto-Bold';
	color: white;
}

.navbar .nav > li > a,
.navbar-nav > li > a {
	padding: 0 20px;
	text-transform: none;
	font-size: 16px;
	font-weight: normal;
	min-width: 100px;
	text-align: center;
	line-height: 40px;
	color: white;
	background-color: #616469;
	text-spacing: 0.3px;

	&:hover {
		color: white;
		background-color: lighten(#616469, 10);
	}
}

.navbar .nav.navbar-right > li > a.small-width {
	min-width: 50px;
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}

.navbar .navbar-nav li .badge {
	position: absolute;
	top: 1px;
	right: -3px;
	z-index: 1;
}

.badge-mention {
	background-color: #FFD300;
	color: #000;
	-webkit-animation: pulse 0.6s infinite;
	animation: bounce 0.6s infinite;
}

/* debrowning things */
.dropdown-menu {
	padding-top: 0;
	padding-bottom: 0;
}

.dropdown-menu > li > a {
	padding: 10px 20px;
	color: #333;
	font-size: 12px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #eee;
	color: #333;
}

.dropdown-menu .divider {
	margin: 0;
	background-color: #ccc;
}

.table > thead > tr > th {
	border-bottom: 2px solid #ccc;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: 1px solid #ccc;
}

.form-control,
input:focus, .form-control:focus {
	border: solid #ccc 1px;
}

.list-group-item {
	border-color: #ccc;
}

/* augments */

.no-gutter {
	padding-left: 0;
	padding-right: 0;
}

.col-center {
	float: none;
	margin: 0 auto;
}

.input-inline {
	display: inline-block;
	width: auto;
	padding-top: 2px;
}

.float {
	position: absolute;
}

.inline {
	display: inline-block;
	width: auto;
}

.input-group-btn button {
	padding: 6.5px 15px;
}

section {
	margin: 20px 0;
}

mark {
	display: inline-block;
	color: black;
	background-color: black;
}

mark:hover {
	color: white;
}

// splash screen

[splash] {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: $darkBackgroundColor;
	z-index: 9001;
	padding-top: 90px;
	text-align: center;
	font-family: "Cabin", Arial, sans-serif;
	font-size: 36px;
	font-weight: bolder;
	color: #fff;

	img {
		width: 150px;
	}
}

// header dropdowns

.header-dropdown {
	position: fixed;
	top: 40px;
	right: 0;
	width: 460px;
	height: 500px;
	margin-left: -300px;
	border: solid #ddd;
	border-width: 0 0 3px 3px;
	border-bottom-left-radius: 4px;
	background: $lightBackgroundColor;
	overflow-x: hidden;
	font-size: 13px;
}

// inbox

.inbox-header {
	color: #fff;
	background-color: $darkBackgroundColor;
	padding: 5px 0 3px 5px;
	text-align: center;
}

.inbox {
	font-size: 14px;
	ol {
		overflow-y: auto;
		overflow-x: hidden;
		height: 459px;
	}
	li {
		background-color: #414B57;
		border-bottom: solid #80868E 2px;
	}
}

.inbox-author {
	float: left;
	width: 100px;
	padding-left: 5px;
	padding-top: 2px;
	color: #fff;
}

.inbox-message {
	display: block;
	min-height: 25px;
	margin-left: 100px;
	margin-top: 0;
	padding: 0 10px 5px 10px;
	background-color: #fff;

	&.read {
		background-color: #F5F5F5;
	}

	[bunker-message] {
		display: inline-block;
		width: 295px;
		padding-right: 10px;
	}
}

.inbox-time {
	float: right;
	font-size: 12px;
}

/* emoticon */

[emoticon-menu] .row {
	border-bottom: solid #ddd 1px;
	padding: 0 15px;
	overflow: hidden;
}

[emoticon-menu] .row:last-of-type {
	border-bottom: none;
}

[emoticon-menu] .col-xs-3 {
	overflow: hidden;
	text-align: center;
}

[emoticon-menu] .emoticon-container {
	height: 23px;
}

[emoticon-menu] .emoticon {
	max-height: 23px;
}

[emoticon-menu] a {
	color: #333;
}

[emoticon-menu] a:hover {
	text-decoration: none;
}

[emoticon-menu] hr {
	margin: 4px 0 4px 0;
}

.emoticonListItem {
	margin-bottom: 4px;
}

.sortEmoticons a {
	margin: 17px;
}

.sortEmoticons input {
	margin: 9px 2px 4px 12px;
}

// bunker stuff

.topic {
	padding: 5px 10px;
	border-bottom: solid #eee 1px;
	border-right: solid 1px #eee;
	line-height: 30px;
	background-color: $lightBackgroundColor;
}

[fill], .fill {
	overflow: hidden;
}

.message-list {
	height: calc(100vh - 87px);
	overflow-y: auto;
	border-right: solid 1px #eee;
	margin: 0;
}

.message-list.has-topic {
	height: calc(100vh - 128px);
}

.message-container {
	position: relative;
}

.message {
	line-height: 30px;
	background-color: #414B57;

	&.local {
		background-color: #596470;
	}
}

/* message type specific styles */

.message.message-type-8ball [bunker-message] {
	-webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2.5s; /* Firefox < 16 */
	-o-animation: fadein 2.5s; /* Opera < 12.1 */
	animation: fadein 2.5s;
}

.message.message-type-hangman [bunker-message] {
	font-family: monospace;
}

.message-author {
	float: left;
	width: 180px;
	color: white;
	padding-left: 4px;
	height: 30px;
	line-height: 30px;

	* {
		vertical-align: middle;
	}

	img {
		height: 20px;
		margin-left: 5px;
	}

	.name {
		text-overflow: ellipsis;
		width: 108px;
		min-width: 108px;
		overflow: hidden;
		display: inline-block;
		padding-left: 4px;
		height: 30px;
		white-space: nowrap;
	}
}

.message-body {
	min-height: 30px;
	margin-left: 180px;
	padding-left: 10px;
	padding-right: 150px;
	background-color: #fff;
	word-break: break-word;
}

.new-message-body {
	border-top: solid #eee 1px;
}

.message-body img {
	max-width: 100%;
	max-height: 500px;
}

.message-body .panel {
	margin: 0;
}

.message .panel-body {
	padding: 0;
}

.message-body pre {
	padding: 0;
	tab-size: 4;
}

.message-info {
	position: absolute;
	top: 0;
	right: 3px;
	padding-right: 5px;
}

.message-mention .message-body {
	background-color: #faf2cc;
}

.message-mention .message-caret {
	border-right-color: #faf2cc;
}

.message-input.edit-mode textarea {
	background-color: lightyellow;
}

.message-input textarea {
	resize: none;
	overflow: hidden;
	border-radius: 0;
	padding: 12px;
}

.message-input input[type=text],
.message-input button {
	border-radius: 0;
	padding: 12px;
}

.message-caret {
	content: "";
	position: absolute;
	left: 172px;
	top: 8px;
	width: 0;
	height: 0;
	border-bottom: 8px solid #fff;
	border-bottom: 8px solid rgba(255, 255, 255, 0); /* needs to be here for carets to work */
	border-top: 8px solid #fff;
	border-top: 8px solid rgba(255, 255, 255, 0); /* needs to be here for carets to work */
	border-right: 8px solid #fff;
}

.system-message {
	min-height: 30px;
	padding-left: 10px;
	padding-right: 150px;
	background-color: #fff;
	color: #999;
	word-break: break-word;
}

img.emoticon {
	max-height: 30px;
}

img.fatality {
	max-height: 120px;
	display: inline-block;
	vertical-align: top;
	margin-left: 24px;
	margin-top: 4px;
}

.fight-message {
	display: inline-block;
}

.imgur-gifv {
	position: relative;
}

// member list

.right-pane {
	background-color: $lightBackgroundColor;
}

[room] .right-pane {
	height: calc(100vh - 86px);
}

.message-input .right-pane {
	height: 46px;
}

.member-list {
	height: calc(100% - 61px);
	overflow-y: auto;
}

.member-list li.list-group-item {
	border-radius: 0;
	border-left: 0;
	border-right: 0;
	padding: 8px 12px;
	background-color: $lightBackgroundColor;
}

.member-list li.list-group-item:first-of-type {
	border-top: none;
}

.member-list li.list-group-item a {
	color: #3e3f3a;
}

.member-list li .offline {
	opacity: 0.25;
}

.member-list .user-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	text-align: center;
}

.member-list .status {
	margin-bottom: 4px;
}

.member-list .pull-right i {
	margin-right: 4px;
}

.member-list .pull-right img {
	max-height: 20px;
	margin-top: -3px;
}

/* file upload related styles */
#bunker-dropzone-overlay {
	position: absolute;
	vertical-align: middle;
	top: 40px;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 97;
	visibility: hidden;
}

#bunker-dropzone-overlay > div {
	opacity: 0;
	transition: opacity .3s;
}

.dragover #bunker-dropzone-overlay {
	visibility: visible;
}

#bunker-dropzone-overlay .overlay {
	position: absolute;
	background: black;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: opacity .3s;
	z-index: 98;
}

.dragover #bunker-dropzone-overlay .overlay {
	opacity: .5;
}

#bunker-dropzone-overlay [overlay-contents] {
	text-align: center;
	position: relative;
	margin-top: 300px;
	color: white;
	z-index: 99;
	font-size: 2.5em;
}

.dragover #bunker-dropzone-overlay [overlay-contents] {
	opacity: 1;
}

.image-upload > img {
	display: block;
	margin: auto;
	max-width: 100%;
	max-height: 550px;
}

.loadingbutton {
	position: relative;
	padding-left: 28px;
	padding-right: 28px;
}

.loadingbutton-spinner {
	position: absolute;
	left: 12px;
	line-height: inherit; /* fa overrides line height, set it back to bootstrap's */
}

/* image picker */
.image-search {
	height: 165px;
	padding: 5px;
}

/* status */

.status {
	width: 6px;
	height: 6px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 8px;
	margin-left: 4px;

	&.here {
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00FF00), color-stop(1, #00BD00));
		background-image: -o-linear-gradient(bottom, #00FF00 0%, #00BD00 100%);
		background-image: -moz-linear-gradient(bottom, #00FF00 0%, #00BD00 100%);
		background-image: -webkit-linear-gradient(bottom, #00FF00 0%, #00BD00 100%);
		background-image: -ms-linear-gradient(bottom, #00FF00 0%, #00BD00 100%);
		background-image: linear-gradient(to bottom, #00FF00 0%, #00BD00 100%);
		box-shadow: 0 0 2px #00BD00;
	}

	&.away {
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFF00), color-stop(1, #D4D400));
		background-image: -o-linear-gradient(bottom, #FFFF00 0%, #D4D400 100%);
		background-image: -moz-linear-gradient(bottom, #FFFF00 0%, #D4D400 100%);
		background-image: -webkit-linear-gradient(bottom, #FFFF00 0%, #D4D400 100%);
		background-image: -ms-linear-gradient(bottom, #FFFF00 0%, #D4D400 100%);
		background-image: linear-gradient(to bottom, #FFFF00 0%, #D4D400 100%);
		box-shadow: 0 0 2px #D4D400;
	}
}

.room-options {
	position: absolute;
	width: 100%;
	bottom: -46px;
}

.debugging {
	padding: 8px 0;
	background-color: #F5D9DD;
	color: #666;
	dl {
		margin-bottom: 5px;
	}
}

// animations

.animation-box {
	position: fixed;
	bottom: 0;
	right: 50%;
	height: 75px;
	width: 75px;
	z-index: 100;
	transition: linear 1.5s;

	img {
		height: 100%;
	}

	&.closed {
		bottom: -75px;
	}
}

/*date picker*/

.date-picker-above .dropdown-menu {
	margin-top: -252px;
	width: 272px;
	right: 4px !important;
	left: auto !important;
	top: auto !important;
	bottom: 50px;
}

/* doge */
.doge {
	position: absolute;
	font-family: "Comic Sans MS", sans-serif;
}

.doge-fade-in {
	animation: fadein 1s;
	-moz-keyframes: fadein 1s;
	-webkit-keyframes: fadein 1s;
	-o-keyframes: fadein 1s;
}

.doge-fade-out {
	animation: fadeout 1s;
	-moz-keyframes: fadeout 1s;
	-webkit-keyframes: fadeout 1s;
	-o-keyframes: fadeout 1s;
}

/* lobby styling */

.page-header {
	margin-top: 0;
	border-color: #ddd;
}

.lobby {
	.list-group-item {
		padding-bottom: 40px;
	}
	.list-group-item-heading {
		font-weight: 500;
	}
	.lobby-room-users {
		position: absolute;
		bottom: 5px;
		right: 10px;
		font-size: 20px;
	}

	[am-time-ago] {
		position: absolute;
		top: 5px;
		right: 10px;
		font-size: 13px;
	}

	p {
		text-overflow: ellipsis;
		max-width: 776px;
		height: 30px;
		overflow: hidden;
		white-space: nowrap;
	}
}

// Mobile modifications

@media (max-width: 480px) {

	.splash-brand {
		font-size: 56px;
	}

	// lobby

	.lobby {
		padding-left: 0;
		padding-right: 0;

		.page-header {
			display: none;
		}
		.list-group-item {
			border-radius: 0;
			border-left: 0;
			border-right: 0;
		}
	}

	// message list

	.message-list {
		height: initial;
		overflow-y: scroll;
		position: fixed;
		top: 40px;
		bottom: 40px;
		left: 0;
		right: 0;
		background-color: #efefef;
		-webkit-overflow-scrolling: touch;
	}

	.message-list.has-topic {
		height: initial;
	}

	.animation-box, .topic, [bunker-media] {
		display: none;
	}

	.message, .message.local {
		overflow: hidden;
		background-color: transparent;

		.status {
			display: none;
		}
	}

	.message-author {
		float: left;
		width: 40px;
		padding: 0 5px;
		margin-right: 5px;

		.name {
			display: none;
		}

		img {
			height: 30px;
			margin: 0;
			padding: 0;
		}
	}

	.message-caret {
		left: 38px;
	}

	.message-body {
		display: inline-block;
		width: auto;
		max-width: calc(100% - 90px);
		margin: 0 0 3px 0;
		border: solid #ddd 1px;
		padding: 10px;
		word-break: break-word;

		.message-author-name {
			font-weight: bold;
		}

		.message-info {
			display: inline-block;
			position: initial;
			padding: 0;
			margin-left: 5px;
		}
	}

	// mods for local messages (goes to right side)
	.message.local {
		.message-author {
			float: right;
			margin-right: 0;
			margin-left: 5px;
		}
		.message-caret {
			left: initial;
			right: 38px;
			border-left: 8px solid #d9edf7;
			border-right: none;
		}
		.message-body {
			float: right;
			background-color: #d9edf7;
		}
	}

	// system message
	.system-message-body {
		width: auto;
		max-width: calc(100% - 100px);
		margin: 0 46px;

		[am-time-ago] {
			display: none;
		}
		.system-message {
			margin: 0;
			padding: 10px;
			background-color: transparent;
			color: black;
		}
	}

	// input box in mobile
	.message-input {
		position: fixed;
		bottom: 0;
		width: 100vw;
		border-top: solid #aaa 1px;

		input, textarea {
			float: left;
			border-radius: 0;
			border: 0;

			&:hover, &:focus {
				border: 0;
			}
		}

		button {
			height: 46px;
			background: white;
			border: 0;
			outline: none;
			color: #333;
			font-size: 15px;

			&:hover, &:focus, &:active {
				border: 0;
				background: white;
				color: #333;
			}
		}
	}
}

/* animations */

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-o-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-moz-keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-webkit-keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-o-keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}
