$darkBackgroundColor: #45494D;
$lightBackgroundColor: #Fcfcfc;
$successColor: #93c54b;
$mentionColor: #faf2cc;
$navbarMentionColor: #FFD300;
$navbarSuccessColor: #79a736;

@import "fonts.scss";

// boostrap overrides

body {
	padding-top: 40px;
	font-family: 'Roboto', sans-serif;
}

a, a:hover, a:visited, .btn-link, .btn-link:hover, .alert a, .alert .alert-link {
	color: $successColor;
}

a, [ng-click], .pointer, [ui-sref], button, .btn, input[type=file] {
	cursor: pointer;
}

.alert a, .alert .alert-link {
	text-decoration: none;
}

.dropdown-menu > li > a {
	padding: 10px 20px;
}

.panel {
	border-radius: 2px;
}

// ng-sortable overrides

.as-sortable-item-handle {
	cursor: pointer;
}

pre {
	color: #3e3f3a;
}

.btn {
	font-weight: bold;
}

.btn-success {
	background-color: $successColor;
	&:hover, &:focus {
		background-color: $successColor;
	}
}

.form-control:focus {
	border: 0;
	box-shadow: none;
}

// navbar

nav,
.navbar {
	min-height: 40px;
	height: 40px;
	margin-bottom: 0;
}

.navbar-default {
	background-color: $darkBackgroundColor;
	border-bottom: 0;

	.navbar-brand {
		height: 40px;
		padding: 10px 20px;
		font-size: 24px;
		font-weight: bold;
		text-align: center;
		text-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
		color: white;

		&:hover, &:active, &:focus {
			color: white;
		}
	}

	.navbar-nav {
		height: 40px;

		// default tab styling
		& > li {
			height: 100%;
			& > a {

				height: 100%;
				padding: 0 20px;
				text-transform: none;
				font-size: 15px;
				text-align: center;
				line-height: 40px;
				color: white;
				background-color: #616469;
				font-weight: 500;
				white-space: nowrap;
				overflow: hidden;
				box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);

				&:hover, &:focus {
					color: white;
					background-color: lighten(#616469, 10);
				}
			}
		}

		.badge {
			position: absolute;
			top: 1px;
			right: 0;
			z-index: 1;
			padding: 4px 8px;
			background-color: $successColor;
			color: white;

			&.badge-mention {
				background-color: $navbarMentionColor;
				color: #000;
				-webkit-animation: pulse 0.6s infinite;
				animation: bounce 0.6s infinite;
			}
		}

		// room tabs
		&.navbar-rooms {

			width: calc(100% - 300px);
			overflow: hidden;

			& > li {
				max-width: 150px;
				min-width: 25px;

				& > a {
					padding: 0 3px;
				}
			}

			// CSS only solution to styling any number of rooms on top
			// If someone is in more than 100 rooms... I don't even know
			@for $i from 1 through 100 {
				li:first-child:nth-last-child(#{$i}),
				li:first-child:nth-last-child(#{$i}) ~ li {
					width: (100/$i)*1%;
				}
			}
		}
	}
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: $navbarSuccessColor;
	color: white;
}

.navbar .nav.navbar-right > li > a.small-width {
	min-width: 50px;
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}

// debrowning things

.table > thead > tr > th {
	border-bottom: 2px solid #ccc;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: 1px solid #ccc;
}

.form-control,
input:focus, .form-control:focus {
	border: solid #ccc 1px;
}

.list-group-item {
	border-color: #ccc;
}

/* augments */

.no-gutter {
	padding-left: 0;
	padding-right: 0;
	background: #ffffff;
}

.col-center {
	float: none;
	margin: 0 auto;
}

.input-inline {
	display: inline-block;
	width: auto;
	padding-top: 2px;
}

.float {
	position: absolute;
}

.inline {
	display: inline-block;
	width: auto;
}

.input-group-btn button {
	padding: 6.5px 15px;
}

section {
	margin: 20px 0;
}

mark {
	display: inline-block;
	color: black;
	background-color: black;

	&.toggle-mark {
		&:hover {
			color: black;
		}
		color: black;
		background-color: $lightBackgroundColor
	}
}

mark:hover {
	color: white;
}

// splash screen

[splash] {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	background-image: url('/assets/images/splash.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1040; /* bootstrap sets z-index of navbar to 1030, so we need to be above that */

	p {
		position: absolute;
		left: 15px;
		bottom: 0;
		color: black;
		font-family: "Cabin", Arial, sans-serif;
		font-size: 24px;
		font-weight: bolder;

		img {
			height: 25px;
		}
	}
}

// header dropdowns

.header-dropdown {
	position: fixed;
	top: 40px;
	right: 0;
	width: 460px;
	height: 500px;
	margin-left: -300px;
	border: solid #ddd;
	border-width: 0 0 3px 3px;
	border-bottom-left-radius: 4px;
	background: $lightBackgroundColor;
	overflow-x: hidden;
	font-size: 13px;
}

.warning {
	color: $navbarMentionColor
}

// inbox

[inbox] {

	header {
		text-align: center;
		padding: 10px;
		font-size: 16px;
		background-color: #616469;
	}

	ol {
		margin: 0;
	}

	li {
		overflow: hidden;
		background-color: #414B57;
		border-bottom: solid 1px #aaa;
		line-height: 30px;

		.inbox-author {
			float: left;
			width: 100px;
			height: 30px;
			color: white;
			overflow: hidden;
		}
		.inbox-message-content {
			float: left;
			width: calc(100% - 100px);
			padding: 0 7px;
			background-color: white;

			.timestamp {
				float: right;
			}

			&.read {
				background-color: #F5F5F5;
			}
		}
	}
}

/* pin board */
.pin-board {
	position: fixed;
	display: none;
	overflow-x: hidden;
	bottom: 34px;
	background: white;
	top: 48px;
	right: 10%;
	left: 80px;
	border: 1px solid #DFD7CA;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
	padding: 14px 12px 12px 12px;
	border-radius: 4px;
}

.pin-board-close {
	color: #888;
	font-size: 1.5em;
	position: absolute;
	right: 10px;
	top: 4px;
	cursor: pointer;
}

.pin-board-close:hover {
	color: $darkBackgroundColor;
}

.pin-board-active {
	display: block;
}

.pin-board-message {
	float: left;
	padding: 12px;
	max-width: 100%;
}

.pin-board-message > div {
	padding: 16px 16px 14px 14px;
	border: 1px solid #ddd;
	box-shadow: 0 2px 3px 0 #aaa;
	position: relative;
}

.pin-board-message .pin-message-author {
	margin-right: 8px;
	display: inline-block;
}

.pin-board-message:hover .pin-board-unpin {
	display: block;
}

.pin-board-unpin {
	display: none;
	color: #888;
	cursor: pointer;
	position: absolute;
	top: 4px;
	right: 4px;
}

.pin-board-unpin:hover {
	color: $darkBackgroundColor;
}

.message-pin-icon {
	cursor: pointer;
	display: none;

	&.fa-bookmark {
		display: inline;

		&.disabled {
			cursor: default;
		}
	}
}

.message:hover .fa-bookmark-o:not(.disabled) {
	display: inline;
}

.message-info > .text-muted {
	margin-left: 5px;
}

/* emoticon */

[emoticon-menu] .row {
	border-bottom: solid #ddd 1px;
	padding: 0 15px;
	overflow: hidden;
}

[emoticon-menu] .row:last-of-type {
	border-bottom: none;
}

[emoticon-menu] .col-xs-3 {
	overflow: hidden;
	text-align: center;
}

[emoticon-menu] .emoticon-container {
	height: 23px;
}

[emoticon-menu] .emoticon {
	max-height: 23px;
}

[emoticon-menu] a {
	color: #333;
}

[emoticon-menu] a:hover {
	text-decoration: none;
}

[emoticon-menu] hr {
	margin: 4px 0 4px 0;
}

.emoticonListItem {
	margin-bottom: 4px;
}

.emoticon-selected {
	background: $mentionColor;
}

.sortEmoticons a {
	margin: 17px;
}

.sortEmoticons input {
	margin: 9px 2px 4px 12px;
}

// bunker stuff

.topic {
	padding: 5px 10px;
	border-bottom: solid #eee 1px;
	border-right: solid 1px #eee;
	line-height: 32px;
	background-color: $lightBackgroundColor;
	height: 41px;

	mark {
		padding: 0px 2px;
	}
}

[fill], .fill {
	overflow: hidden;
}

.message-list {
	height: calc(100vh - 87px);
	overflow-y: auto;
	border-right: solid 1px #eee;
	margin: 0;
}

.message-list.has-topic {
	height: calc(100vh - 128px);
}

.message-container {
	position: relative;
}

.message {
	line-height: 30px;
	background-color: #414B57;

	&.local {
		background-color: #596470;
	}
}

li:not(:last-child) .message.last-read:after {
	content: ' ';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	z-index: 10;
	background-color: $successColor;
}

// message type specific styles

.message.message-type-8ball [bunker-message] {
	-webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2.5s; /* Firefox < 16 */
	-o-animation: fadein 2.5s; /* Opera < 12.1 */
	animation: fadein 2.5s;
}

.message.message-type-hangman [bunker-message] {
	font-family: monospace;
}

.message-author {
	float: left;
	width: 160px;
	color: white;
	padding-left: 4px;
	height: 30px;
	overflow: hidden;

	img {
		float: left;
		height: 20px;
		margin: 5px 3px;
	}

	.name {
		display: inline-block;
		width: 125px;
		text-overflow: ellipsis;
		overflow: hidden;
		padding-left: 4px;
		white-space: nowrap;
	}

	.status {
		position: absolute;
		top: 5px;
		left: 3px;
	}
}

@mixin message-formatting {
	img {
		max-width: 100%;
		max-height: 500px;
	}

	.panel {
		margin: 0;
	}

	pre {
		padding: 0;
		tab-size: 4;
	}
}

.message-body {
	min-height: 30px;
	margin-left: 165px;
	padding-left: 10px;
	padding-right: 150px;
	background-color: #fff;
	word-break: break-word;

	@include message-formatting
}

.pin-board-message {
	@include message-formatting;

	.panel {
		margin-top: 8px;
	}
}

.new-message-body {
	border-top: solid #eee 1px;
}

.message {
	.panel-heading {
		padding: 5px 15px;
	}
	.panel-body {
		padding: 0;

		pre {
			margin-bottom: 0;
			border-width: 0;
			background-color: transparent;
			white-space: pre-wrap;
		}
	}
}

.message-info {
	position: absolute;
	top: 0;
	right: 3px;
	padding-right: 5px;

	& > span {
		display: inline-block;
	}
}

.message-mention .message-body {
	background-color: $mentionColor;
}

.message-mention .message-caret {
	border-right-color: $mentionColor;
}

.message-input {

	overflow: hidden;

	form {
		height: 100%;
		border: solid #ddd 1px;
		background-color: white;
		overflow: hidden;
	}

	textarea {
		width: calc(100% - 54px);
		height: 44px;
		float: left;
		border-width: 0;
		border-radius: 0;
		resize: none;
		line-height: 31px;

		&:active, &:focus, &:hover {
			border: none;
			outline: none;
		}
	}

	&.edit-mode textarea {
		background-color: lightyellow;
	}

	button, span.btn {
		position: relative;
		width: 50px;
		height: 42px;
		padding: 12px;
		margin: 1px;
		border-width: 0;
		border-radius: 0;

		&:active, &:focus, &:hover {
			background-color: transparent;
			outline: none;
		}
	}

	input[type=file] {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}

.message-caret {
	content: "";
	position: absolute;
	left: 157px;
	top: 8px;
	width: 0;
	height: 0;
	border-bottom: 8px solid #fff;
	border-bottom: 8px solid rgba(255, 255, 255, 0); /* needs to be here for carets to work */
	border-top: 8px solid #fff;
	border-top: 8px solid rgba(255, 255, 255, 0); /* needs to be here for carets to work */
	border-right: 8px solid #fff;
}

.message-popup {
	position: fixed;
	bottom: 47px;
	width: 460px;
	height: 107px;
	text-overflow: ellipsis;
	border: solid #ddd;
	border-width: 3px;
	border-bottom-left-radius: 4px;
	background: $lightBackgroundColor;
	overflow-x: hidden;
	font-size: 13px;
	z-index: 1000;
}

.popup-item {
	display: inline-block;
}

.system-message {
	min-height: 30px;
	padding-left: 10px;
	padding-right: 150px;
	background-color: #fff;
	color: #999;
	word-break: break-word;
}

img.emoticon {
	max-height: 30px;
}

img.fatality {
	max-height: 120px;
	display: inline-block;
	vertical-align: top;
	margin-left: 24px;
	margin-top: 4px;
}

.fight-message {
	display: inline-block;
}

.imgur-gifv {
	position: relative;
}

// member list

.right-pane {
	background-color: $lightBackgroundColor;
}

[room] .right-pane {
	height: calc(100vh - 86px);
}

.message-input .right-pane {
	height: 46px;
}

.member-list {
	height: calc(100vh - 108px);
	overflow-y: auto;

	li.list-group-item {
		border-radius: 0;
		border-left: 0;
		border-right: 0;
		padding: 8px 12px;
		background-color: $lightBackgroundColor;
	}

	li.list-group-item:first-of-type {
		border-top: none;
	}

	li.list-group-item a {
		color: #3e3f3a;
	}

	li .offline {
		opacity: 0.25;
		color: #ddd;
	}

	.user-icon {
		display: inline-block;
		width: 20px;
		height: 20px;
		margin-right: 5px;
		text-align: center;
	}

	.inRoom {
		box-shadow: 1px 1px 5px #888888
	}

	.status {
		position: absolute;
		top: 8px;
		left: 8px;
	}

	.pull-right i {
		margin-right: 4px;
	}

	.pull-right img {
		max-height: 20px;
		margin-top: -3px;
	}
}

/* file upload related styles */
#bunker-dropzone-overlay {
	position: absolute;
	vertical-align: middle;
	top: 40px;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 97;
	visibility: hidden;
}

#bunker-dropzone-overlay > div {
	opacity: 0;
	transition: opacity .3s;
}

.dragover #bunker-dropzone-overlay {
	visibility: visible;
}

#bunker-dropzone-overlay .overlay {
	position: absolute;
	background: black;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: opacity .3s;
	z-index: 98;
}

.dragover #bunker-dropzone-overlay .overlay {
	opacity: .5;
}

#bunker-dropzone-overlay [overlay-contents] {
	text-align: center;
	position: relative;
	margin-top: 300px;
	color: white;
	z-index: 99;
	font-size: 2.5em;
}

.dragover #bunker-dropzone-overlay [overlay-contents] {
	opacity: 1;
}

.image-upload > img {
	display: block;
	margin: auto;
	max-width: 100%;
	max-height: 550px;
}

.loadingbutton {
	position: relative;
	padding-left: 28px;
	padding-right: 28px;
}

.loadingbutton-spinner {
	position: absolute;
	left: 12px;
	line-height: inherit; /* fa overrides line height, set it back to bootstrap's */
}

/* image picker */
.image-search {
	height: 165px;
	padding: 5px;
}

/* status */

.status {
	width: 4px;
	height: 20px;

	&.here {
		background-image: linear-gradient(to bottom, #00FF00 0%, #00BD00 100%);
	}

	&.away {
		background-image: linear-gradient(to bottom, #ffe909 0%, #FFC22F 100%);
	}
}

.room-options {
	position: absolute;
	width: 100%;
	bottom: -40px;
	z-index: 11;
}

.debugging {
	padding: 8px 0;
	background-color: #F5D9DD;
	color: #666;
	dl {
		margin-bottom: 5px;
	}
}

// animations

.animation-box {
	position: fixed;
	bottom: 0;
	right: 50%;
	height: 75px;
	width: 75px;
	z-index: 100;
	transition: linear 1.5s;

	img {
		height: 100%;
	}

	&.closed {
		bottom: -75px;
	}
}

/*date picker*/

.date-picker-above .dropdown-menu {
	margin-top: -252px;
	width: 272px;
	right: 4px !important;
	left: auto !important;
	top: auto !important;
	bottom: 50px;
}

/* doge */
.doge {
	position: absolute;
	font-family: "Comic Sans MS", sans-serif;
}

.doge-fade-in {
	animation: fadein 1s;
	-moz-keyframes: fadein 1s;
	-webkit-keyframes: fadein 1s;
	-o-keyframes: fadein 1s;
}

.doge-fade-out {
	animation: fadeout 1s;
	-moz-keyframes: fadeout 1s;
	-webkit-keyframes: fadeout 1s;
	-o-keyframes: fadeout 1s;
}

// lobby styling

.lobby {

	.list-group-item {
		height: 130px;
		padding-bottom: 40px;
	}
	.list-group-item-heading {
		font-weight: 500;
	}
	.lobby-room-users {
		position: absolute;
		bottom: 5px;
		right: 10px;
		font-size: 20px;
	}
	.lobby-user-message {
		display: inline-block;
	}

	[am-time-ago] {
		position: absolute;
		top: 5px;
		right: 10px;
		font-size: 13px;
	}
	.derp{
		text-overflow: ellipsis;
		max-width: 776px;
		height: 30px;
		overflow: hidden;
		white-space: nowrap;
	}

	p {
		text-overflow: ellipsis;
		max-width: 776px;
		height: 30px;
		overflow: hidden;
		white-space: nowrap;
	}
}

.searchbar{
	margin: 15px 0 15px 0;
}

.search-result{
	margin-bottom: 5px;
}

// Mobile modifications

@media (max-width: 767px) { // xs is < 768px

	.splash-brand {
		font-size: 56px;
	}

	// lobby

	.lobby {
		padding-left: 0;
		padding-right: 0;

		.page-header {
			display: none;
		}
		.list-group-item {
			border-radius: 0;
			border-left: 0;
			border-right: 0;
		}
	}

	// message list

	.message-list {
		height: initial;
		overflow-y: scroll;
		position: fixed;
		top: 40px;
		bottom: 40px;
		left: 0;
		right: 0;
		background-color: #efefef;
		-webkit-overflow-scrolling: touch;
	}

	.message-list.has-topic {
		height: initial;
	}

	.animation-box, .topic, [bunker-media] {
		display: none;
	}

	.message, .message.local {
		overflow: hidden;
		background-color: transparent;
	}

	.message-author {
		float: left;
		width: 34px; // image 30px + online bar 4px
		padding: 0;
		margin-left: 6px;

		.name {
			display: none;
		}

		img {
			height: 30px;
			margin: 0;
			margin-left: 4px; // makes room for bar
			padding: 0;
		}

		.status {
			height: 30px;
			width: 4px;
			top: 0;
			left: 6px;
		}
	}

	.message-caret {
		left: 42px;
	}

	.message-body {
		display: inline-block;
		width: auto;
		max-width: calc(100% - 98px);
		margin: 0 9px 4px 9px;
		border: solid #ddd 1px;
		padding: 10px;
		word-break: break-word;

		.message-author-name {
			font-weight: bold;
		}

		.message-info {
			display: inline-block;
			position: initial;
			padding: 0;
			margin-left: 5px;
		}
	}

	// mods for local messages (goes to right side)
	.message.local {
		.message-author {
			float: right;
			margin-left: 0;
			margin-right: 6px;

			.status {
				top: 0;
				left: initial;
				right: 35px;
			}
		}
		.message-caret {
			left: initial;
			right: 42px;
			border-left: 8px solid #d9edf7;
			border-right: none;
		}
		.message-body {
			float: right;
			background-color: #d9edf7;
		}
	}

	// system message
	.system-message-body {
		width: auto;
		max-width: calc(100% - 100px);
		margin: 0 46px;

		[am-time-ago] {
			display: none;
		}
		.system-message {
			margin: 0;
			padding: 10px;
			background-color: transparent;
			color: black;
		}
	}

	.message:hover .fa-bookmark-o:not(.disabled) {
		display: none;
	}

	// input box in mobile
	.message-input {
		position: fixed;
		bottom: 0;
		width: 100vw;
		border-top: solid #aaa 1px;

		input, textarea {
			float: left;
			height: 48px;
			width: calc(100vw - 126px);
			border-radius: 0;
			border: 0;
			line-height: 36px;

			&:hover, &:focus {
				border: 0;
			}
		}

		button, span.btn {
			display: inline-block;
			float: right;
			width: 60px;
			height: 46px;
			background: white;
			border: 0;
			outline: none;
			color: #333;
			font-size: 15px;

			&:hover, &:focus, &:active {
				border: 0;
				background: white;
				color: #333;
			}
		}
	}

	.message-input span.btn {
		right: 60px;
	}
}

// animations

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-o-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-moz-keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-webkit-keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-o-keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}
