// Roboto

@font-face {
	font-family: 'Roboto';
	src: url('/assets/fonts/Roboto-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Roboto';
	src: url('/assets/fonts/Roboto-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'Roboto';
	src: url('/assets/fonts/Roboto-Bold.ttf');
	font-weight: 700;
}


// Open Sans

@font-face {
	font-family: 'OpenSans';
	src: url('/assets/fonts/OpenSans-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'OpenSans';
	src: url('/assets/fonts/OpenSans-Semibold.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'OpenSans';
	src: url('/assets/fonts/OpenSans-Bold.ttf');
	font-weight: 700;
}
