/* this file is loaded after the default css if the style is selected */

.alert a, .alert .alert-link {
	color: #93c54b;
	text-decoration: none;
}

nav,
.navbar,
.navbar > .container-fluid .navbar-brand {
	min-height: 40px;
	height: 40px;
	margin-bottom: 0px;
}


.navbar-default .navbar-nav a {
	padding: 6px 12px;
}

.navbar-brand {
	width: 178px;
	padding: 16px 15px;
}

.navbar-default .navbar-nav > li > a,
.navbar-nav > li > a {
	box-shadow: inset 2px 0px 4px rgba(0,0,0,0.50);
	text-shadow: 0px 0px 4px rgba(0,0,0,.5);
}

.nav,
.navbar-brand {
	line-height: 4px;
}

.navbar .nav > li > a {
	padding: 0;
	min-width: 142px;
}

.navbar .nav.navbar-right > li > a.small-width {
	min-width: 80px;
}

.panel-heading {
	line-height: 7px;
}
/* fix the container height for minimal */
.message-list {
	height: calc(100vh - 72px);
}

.message-list.has-topic{
	height: calc(100vh - 113px);
}

.message-body pre {
	margin-top: 10px;
	border: dotted #ccc 2px;
	border-radius: 3px;
	background: #FAFAFA;
	color: #666;
	tab-size: 4;
}

/* message history */

.message-history-anchor {
	position: relative;
}

.message-history {
	position: absolute;
	background-color: white;
	border: 1px black solid;
	z-index: 100;
	right: 30px;
	top: -86px;
	padding: 8px;
	box-shadow: #888 3px 5px 3px;
}

.message-history ul {
	padding: 0px;
}

.message-history li {
	list-style: none;
}

.message-input input[type=text],
.message-input button {
	border-radius: 0;
}

/* make input box smaller */

.message-input textarea {
	height: 32px;
	padding: 3px 0 0 8px;
	resize: none;
	overflow: hidden;
}
.message-input button {
	height: 32px;
	padding: 4px 12px;
}

.member-list .status.pull-right {
	margin-top: 8px;
}