html {
	background-color: #eee;
}

body {
	max-width: 500px;
	margin: 0 auto;
	margin-top: 50px;
	background-color: white;
}

a, [ng-click], [ui-sref] {
	cursor: pointer;
}

[bunker-media] img {
	display: none;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 500px;
	height: 50px;
	padding: 10px;
	background-color: #596470;
	color: #fff;
	line-height: 25px;
	z-index: 1;
}

header h3 {
	margin: 0;
}

.header-left {
	float: left;
	display: inline-block;
	margin-right: 10px;
}
.header-center {
	float: left;
	display: inline-block;
}

.message-list {
	padding-bottom: 35px;
}

.message-container {
	position: relative;
	margin: 3px 0;
	overflow: hidden;
}

.message-author {
	float: left;
	margin-left: 10px;
}

.message.local .message-author {
	float: right;
	margin-right: 10px;
}

.message-caret {
	content: '';
	position: absolute;
	top: 0;
	left: 43px;
	width: 0;
	height: 0;
	border-bottom: 8px solid #fff;
	border-bottom: 8px solid rgba(255, 255, 255, 0); /* needs to be here for carets to work */
	border-top: 8px solid #fff;
	border-top: 8px solid rgba(255, 255, 255, 0); /* needs to be here for carets to work */
	border-right: 8px solid #fff;
}

.message.local .message-caret {
	border-right-color: lightblue;
}

.message-body {
	float: left;
	padding: 10px;
	border: solid #ddd 1px;
	border-radius: 3px;
	background-color: white;
}

.message-body:not(.new-message-body) {
	margin-left: 50px;
}

.message.local .message-body {
	float: right;
}

.message.local .message-body:not(.new-message-body) {
	margin-right: 50px;
}

.message.local .message-body {
	background-color: lightblue;
}

.message-body .name {
	font-weight: bold;
}

.system-message-body {
	margin: 0 50px;
	padding: 10px;
	border: solid #eee 1px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 500px;
}

footer .form-control {
	border-radius: 0;
	resize: none;
}
