<div class="sortEmoticons">
	<form class="form-inline" role="form">
		<div class="form-group">
			<input ng-model="search" class="form-control input-sm" type="text" placeholder="Search">
		</div>
		<div class="checkbox">
			<label>
				<input ng-model="settings.sortEmoticonsByPopularity" ng-change="saveSettings()" type="checkbox">
				Popular sort
			</label>
		</div>
	</form>
</div>
<hr>
<ol class="row list-unstyled" ng-repeat="list in emoticonMenuLists">
	<li class="col-xs-3 emoticonListItem" ng-repeat="emoticon in list | fuzzyBy: 'name': search">
		<a ng-click="appendEmoticonToChat(emoticon.file)"
			 title="{{settings.sortEmoticonsByPopularity ? 'Times Used: ' + emoticon.$count : ''}}">
			<div class="emoticon-container">
				<img class="emoticon" ng-src="/assets/images/emoticons/{{::emoticon.file}}"/>
			</div>
			:{{::emoticon.name}}:
		</a>
	</li>
</ol>
