<nav class="navbar navbar-default navbar-fixed-top navbar-background" role="navigation"
	 ng-controller="HeaderController as header">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" ui-sref="lobby">Bunker</a>
		</div>
		<ul class="nav navbar-nav hidden-xs" as-sortable="header.dragRoomListeners" ng-model="header.rooms">
			<li ui-sref-active="active" ng-repeat="room in header.rooms track by room.id" as-sortable-item  ng-if="room.$resolved">
				<a as-sortable-item-handle ui-sref="chat.room({roomId: room.id})" title="{{room.topic}}">{{room.name}}</a>
				<span class="badge" ng-class="{'badge-mention': room.$unreadMention}" ng-show="room.$unreadMessages > 0">
					{{room.$unreadMessages}}
				</span>
			</li>
		</ul>

		<div ng-if="header.showOptions">

			<ul class="nav navbar-nav navbar-right hidden-xs">
				<li ng-class="{active: header.emoticonMenu}">
					<a ng-click="header.toggleEmoticonMenu()">
						<img src="/assets/images/emoticons/allthethings.png"/>
					</a>
				</li>
				<li ng-class="{active: header.inboxOpened}">
					<a ng-click="header.toggleInbox()">
						<i class="fa fa-inbox fa-lg"></i>
					</a>
					<span class="badge" ng-show="header.unreadInboxMessages > 0">{{header.unreadInboxMessages}}</span>
				</li>
				<li class="dropdown">
					<a href data-toggle="dropdown" class="small-width"><i class="fa fa-cog fa-lg"></i></a>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation">
							<a role="menuitem" tabindex="-1" ng-click="header.changeSetting('showImages')">
								<i class="fa {{header.settings.showImages ? 'fa-check-square-o' : 'fa-square-o'}}"></i>
								Show Media
							</a>
						</li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" ng-click="header.changeSetting('showEmoticons')">
								<i class="fa {{header.settings.showEmoticons ? 'fa-check-square-o' : 'fa-square-o'}}"></i>
								Show Emoticons
							</a>
						</li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" ng-click="header.changeSetting('showNotifications')">
								<i class="fa {{header.settings.showNotifications ? 'fa-check-square-o' : 'fa-square-o'}}"></i>
								Show System Messages
							</a>
						</li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" ng-click="header.changeSetting('showDebugging')">
								<i class="fa {{header.settings.showDebugging ? 'fa-check-square-o' : 'fa-square-o'}}"></i>
								Show Debugging Information
							</a>
						</li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" ng-click="header.changeSetting('minimalView')">
								<i class="fa {{header.settings.minimalView ? 'fa-check-square-o' : 'fa-square-o'}}"></i>
								Use Minimalist UI
							</a>
						</li>
						<li role="presentation" class="divider"></li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1"
							   ng-click="header.changeSetting('desktopMentionNotifications')">
								<i class="fa {{header.settings.desktopMentionNotifications ? 'fa-check-square-o' : 'fa-square-o'}}"></i>
								Show Notifications (@Nick)
							</a>
						</li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" ng-click="header.changeSetting('playSoundOnMention')">
								<i class="fa {{header.settings.playSoundOnMention ? 'fa-check-square-o' : 'fa-square-o'}}"></i>
								Play Sound (@Nick)
							</a>
						</li>
						<!--<li role="presentation">-->
						<!--<a role="menuitem" tabindex="-1" >-->
						<!--<i class="fa fa-check-square-o"></i>-->
						<!--Play Sound (Room)-->
						<!--</a>-->
						<!--</li>-->
						<li role="presentation" class="divider"></li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" ng-click="header.showHelp()">
								<i class="fa fa-question"></i> Help
							</a>
						</li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" ng-click="header.leaveRoom()">
								<i class="fa fa-thumbs-down"></i> Leave room
							</a>
						</li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="/logout">
								<i class="fa fa-sign-out"></i> Log out
							</a>
						</li>
					</ul>
				</li>
			</ul>

			<div class="header-dropdown inbox" ng-if="header.inboxOpened">
				<div class="inbox-header">
					<a ng-click="header.clearInbox()">Clear all messages</a>
				</div>
				<div class="lead text-center" ng-if="header.inbox.length == 0">
					No inbox messages <img src="/assets/images/emoticons/qq.gif"/>
				</div>
				<ol class="list-unstyled " ng-if="header.inbox.length > 0">
					<li ng-click="header.goToRoom(inboxMessage)" ng-repeat="inboxMessage in header.inbox track by inboxMessage.id">
						<div class="inbox-author">
							<img gravatar-src-once="inboxMessage.message.author.email | lowercase" gravatar-size="20"/>
							{{::inboxMessage.message.author.nick}}
						</div>
						<div class="inbox-message" ng-class="::{'read': inboxMessage.read}">
							<span bunker-message="inboxMessage.message" media="false" watch="false"></span>
							<div class="inbox-time">
								<small short-time-ago="{{::inboxMessage.createdAt}}" title="{{::inboxMessage.createdAt | date:'medium'}}">
								</small>
							</div>
						</div>
					</li>
				</ol>
			</div>

			<div class="header-dropdown" emoticon-menu ng-if="header.emoticonMenu">
			</div>

		</div>
	</div>
</nav>
